@font-face {
    font-family: "NueHelvetica";
    src: url("../font/Helvetica-Neue-85-Heavy.woff") format('woff');
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
	font-family: NueHelvetica;
}

nav {
  text-align: center;
  background-color: #FEF6EB;  /* nav bar background color */
  width: 100%;
  color: #525564;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#navCont {
  padding: 0;
}

#moveable {
  position: relative;
  height: 3px;
  width: 18.8%;
  border-bottom: 3px solid #525564;
  z-index: 999;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: table;
}

nav ul li {
  display: table-cell;
  width: 25%
}

.hoverPointer:hover {
  cursor: pointer;
}

#downArrow {
  position: fixed;
  left: 50%;
  bottom: 5%;
  z-index: 999;
  font-size: 3em;
  transition: 750ms;
  color: #525564;
}

.disappear {
  opacity: 0;
}

.in-view {
  opacity: 0.7;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#topBanner {
  background-color: #74828F;
  width: 100%;
  text-align: center;
}

#portrait {
  float: none;
  display: inline-block;
  background-image: url('../images/ronsportrait.jpg');
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
}

#credit {
  font-size: 0.4em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

#aboutMe {
  float: none;
  font-size: 1.5em;
  color: #000000;
  margin: 0 auto;
}

#historyBanner {
  width: 100%;
  font-size: 2em;
  background-color: #96C0CE;
  text-align: center;
}

#history, #badges {
  float: none;
  display: inline-block;
}

#webDev {
  color: #C25B56;
}

.badgeSize {
  height: 100px;
}

#jqueryBadgeSize {
  width: 150px;
  margin-top: 12.5px;
}

#angularBadgeSize {
  height: 75px;
  margin-top: 12.5px;
}

#portfolioBanner {
  text-align: center;
  background-color: #525564;
  font-size: 2em;
}

#portfolioBanner p {
  margin-bottom: 20px;
  color: #FFFFFF;
}

.showcase {
  background-color: #525564;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.image {
  transition: .5s ease;
  border-radius: 10px;
  height: 100%;
}

#contactBanner {
  background-color: #BEB9B5;
  text-align: center;
}

#contactBanner ul {
  list-style-type: none;
}

#contactBanner ul li {
  display: inline;
}

#contactBanner ul li a {
  color: #000000;
}

#linkedin:hover {
  color: #0077b5;
}

#github:hover {
  color: #4183c4;
}

#codepen:hover {
  color: #FFFFFF;
}

#fcc:hover {
  color: #0A480D;
}

#email:hover {
  color: #FFCC00;
}

/* animations */
@-moz-keyframes bounce {
  0%, 20%, 60%, 100% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  40%, 80% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes bounce {
  40%, 80% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  40%, 60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  40%, 80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

/* desktop formatting */
@media (min-width: 1440px){
    nav {
      font-size: 2em;
    }

    #navCont {
      width: 75%;
    }

    #moveable {
      bottom: 10px;
    }

    #topBanner {
      padding-top: 275px;
      padding-bottom: 225px;
    }

    #historyBanner, #contactBanner {
      padding-top: 325px;
      padding-bottom: 325px;
    }

    #portrait {
      height: 400px;
      width: 400px;
    }

    #aboutMe {
      margin-top: 50px;
    }

    #aboutMe::first-line {
      font-size: 2em;
    }

    #portfolioBanner {
      padding-top: 125px;
      padding-bottom: 125px;
    }

    .showcase {
      height: 400px;
      width: 600px;
      border-radius: 10px;
      margin: 0 50px;
    }

    .middle {
      height: 100%;
      transition: .5s ease;
      opacity: 0;
      transform: translate(0, -75%);
      -ms-transform: translate(0, -75%);
    }

    .showcase a {
      text-decoration: none;
    }

    .showcase:hover .image {
      opacity: 0.2;
    }

    .showcase:hover .middle{
      opacity: 1;
    }

    #contactBanner {
      font-size: 2em;
    }

    #contactBanner ul li {
      margin: 0 50px;
      font-size: 3em;
    }
}

/* laptop formatting */
@media (min-width: 1025px) and (max-width: 1439px) {
    nav {
      font-size: 2em;
    }

    #navCont {
      width: 75%;
    }

    #moveable {
      bottom: 10px;
    }

    #topBanner {
      padding-top: 275px;
      padding-bottom: 225px;
    }

    #historyBanner, #portfolioBanner, #contactBanner {
      padding-top: 275px;
      padding-bottom: 275px;
    }

    #portrait {
      height: 300px;
      width: 300px;
    }

    #aboutMe {
      margin-top: 50px;
    }

    #aboutMe::first-line {
      font-size: 2em;
    }

    #portfolioBanner {
      padding-top: 125px;
      padding-bottom: 125px;
    }

    .showcase {
      height: 400px;
      width: 600px;
      border-radius: 10px;
      margin: 0 50px;
    }

    .middle {
      height: 100%;
      transition: .5s ease;
      opacity: 0;
      transform: translate(0, -75%);
      -ms-transform: translate(0, -75%);
    }

    .showcase a {
      text-decoration: none;
    }

    .showcase:hover .image {
      opacity: 0.2;
    }

    .showcase:hover .middle{
      opacity: 1;
    }

    #contactBanner {
      font-size: 2em;
    }

    #contactBanner ul li {
      margin: 0 50px;
      font-size: 3em;
    }
}

/* tablet formatting */
@media (min-width: 550px) and (max-width: 1024px) {
    nav {
      font-size: 2em;
    }

    #navCont {
      width: 75%;
    }

    #moveable {
      bottom: 10px;
    }

    #topBanner {
      padding-top: 250px;
      padding-bottom: 200px;
    }

    #historyBanner, #portfolioBanner, #contactBanner {
      padding-top: 350px;
      padding-bottom: 350px;
    }

    #portrait {
      height: 400px;
      width: 400px;
    }

    #aboutMe {
      margin-top: 50px;
    }

    #aboutMe::first-line {
      font-size: 1.2em;
    }

    #badges {
      margin-top: 25px;
    }

    #portfolioBanner {
      padding-top: 125px;
      padding-bottom: 125px;
    }

    .showcase {
      height: 200px;
      width: 300px;
      border-radius: 10px;
      margin: 20px;
    }

    .middle {
      margin-bottom: 20px;
    }

    .showcase a {
      text-decoration: none;
    }

    #contactBanner {
      font-size: 2em;
    }

    #contactBanner ul li {
      margin: 0 50px;
      font-size: 4em;
    }
}

/* mobile formatting */
@media (max-width: 549px) {
    nav {
      font-size: 1.2em;
    }

    #navCont {
      padding-top: 10px;
      width: 100%;
    }

    #moveable {
      bottom: 4px;
    }

    #topBanner {
      padding-top: 100px;
      padding-bottom: 150px;
    }

    #historyBanner, #portfolioBanner {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    #portrait {
      height: 200px;
      width: 200px;
    }

    #aboutMe {
      margin-top: 50px;
    }

    #badges {
      margin-top: 25px;
    }

    #portfolioBanner {
      padding-top: 125px;
      padding-bottom: 125px;
    }

    .showcase {
      height: 200px;
      width: 300px;
      border-radius: 10px;
      margin: 20px;
    }

    .middle {
      margin-bottom: 20px;
    }

    .showcase a {
      text-decoration: none;
    }

    #contactBanner {
      padding-top: 150px;
      padding-bottom: 150px;
      font-size: 2em;
    }

    #contactBanner ul li {
      margin: 0 20px;
      font-size: 3em;
    }
}